[tool.poetry]
name = "brewblox-ctl"
version = "0.24.0"
description = "Brewblox management tool"
authors = ["BrewPi <development@brewpi.com>"]
license = "GPL-3.0"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.5"
requests = "^2.23.0"
click = "^7.1.1"
python-dotenv = {version = "^0.13.0", extras = ["cli"]}
pyyaml = "^5.3.1"
docker = "^4.3.1"
docker-compose = "^1.26.2"
configobj = "^5.0.6"
zeroconf = "^0.28.1"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.8.1"
pytest-flake8 = "^1.0.4"
flake8 = "^3.7.9"
autopep8 = "^1.5"
pytest-mock = "^2.0.0"
pathlib2 = "^2.3.5"
flake8-quotes = "^3.0.0"

[tool.poetry.scripts]
brewblox-ctl = 'brewblox_ctl.__main__:main'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
