[tool.poetry]
name = "brewblox-ctl"
version = "0.18.0"
description = "Brewblox management tool"
authors = ["BrewPi <development@brewpi.com>"]
license = "GPL-3.0"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.5"
requests = "^2.23.0"
click = "^7.1.1"
python-dotenv = {extras = ["cli"], version = "^0.12.0"}
pyyaml = "^5.3.1"
pprint = "^0.1"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.8.1"
pytest-flake8 = "^1.0.4"
flake8 = "^3.7.9"
autopep8 = "^1.5"
pytest-mock = "^2.0.0"
pathlib2 = "^2.3.5"
flake8-quotes = "^3.0.0"

[tool.poetry.scripts]
brewblox-ctl = 'brewblox_ctl.__main__:main'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
