[tool.poetry]
name = "brewblox-ctl"
version = "0.24.4"
description = "Brewblox management tool"
authors = ["BrewPi <development@brewpi.com>"]
license = "GPL-3.0"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.6,<4"
requests = "^2.25.1"
click = "^7.1.2"
python-dotenv = {version = "^0.13.0", extras = ["cli"]}
docker = "^4.4.4"
docker-compose = "^1.28.5"
configobj = "^5.0.6"
zeroconf = "^0.28.8"
PyYAML = "^5.4.1"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.11.1"
pytest-flake8 = "^1.0.7"
flake8 = "^3.8.4"
autopep8 = "^1.5.5"
pytest-mock = "^3.5.1"
pathlib2 = "^2.3.5"
flake8-quotes = "^3.2.0"

[tool.poetry.scripts]
brewblox-ctl = 'brewblox_ctl.__main__:main'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
